{% extends 'rental/base.html' %}

{% block content %}
<div>
    <h2>It's a main page!</h2>
    <ul>
      {% if not user.is_authenticated %}
        <li><a href="{% url 'auth_login' %}">Zaloguj się</a></li>
        <li><a href="{% url 'registration_register' %}">Utwórz konto</a></li>
      {% else %}
        <li><a href="{% url 'auth_logout' %}">Wyloguj się</a></li>
      {% endif %}
    </ul>
    <h3><a href="{% url 'book_list' %}">Availible books list</a></h3>
    <h3><a href="{% url 'film_list' %}">Availible films list</a></h3>
    <h3><a href="{% url 'CD_list' %}">Availible CDs list</a></h3>
</div>
{% endblock %}