{% extends 'rental/base.html' %}

{% block content %}
<a href="{% url "books:book_new" %}">+ Nowa książka</a>
{% for book in object_list %}
<ul>
    <h2>Tytuł: {{book.title}}</h2>
    <p>Autor: {{book.author}}</p>
    <p>Gatunek: {{book.genre}}</p>
    <p>ISBN: {{book.ISBN}}</p>
    <p>ID: {{book.pk}}</p>

         <a href="{% url 'books:book_edit' book.id %}"><button type="button" >Zmień</button></a>
         <a href="{% url 'books:book_delete' book.id %}"><button type="button">Usuń</button></a>

</ul>
{% endfor %}
{% endblock %}