{% extends "rental/base.html" %}
{% block content %}
<h1 class="text-center">Ranking of users: </h1>
<div class="row mx-auto">
    <div class="col-md-4">
    <h2> CD: </h2>
    {% for userr in top_5_CD %}
    <p> {{userr.username}} </p>
    {% endfor %}
    </div>
    <div class="col-md-4">
    <h2> films: </h2>
    {% for userr in top_5_films %}
    <p> {{userr.username}} </p>
    {% endfor %}
    </div>
    <div class="col md-4">
    <h2> books: </h2>
    {% for userr in top_5_books %}
    <p> {{userr.username}} </p>
    {% endfor %}
     </div>
</div>
{% endblock content %}